<!DOCTYPE html>
<html>
<head>
  <title>PWR 2: Gavilan Galloway</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body style=<%= @body_style.html_safe%>>

<div id="banner">
  <h1 class="project_title">PWR 2: Experience Project</h1>
</div>

<div id="content_box" style=<%= @content_box_style.html_safe %>>
  <%= yield %>
</div>

</body>
</html>
